{% extends "base.html" %}

{% block content %}
<h1>Create New Challenge</h1>
{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}
<form method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="10" cols="50" required></textarea>
        <label for="function_signature">Function Signature. (You may include import statements.
If there are no import statments, <code>import Mathlib</code> will be inserted when evaluating in Lean.)</label>
        <textarea id="function_signature" name="function_signature" rows="4" cols="50" required></textarea>
        <label for="theorem_signature">Theorem Signature:</label>
        <textarea id="theorem_signature" name="theorem_signature" rows="2" cols="50" required></textarea>
        <label for="theorem2_signature">Additional Theorem Signature (Optional):</label>
        <textarea id="theorem2_signature" name="theorem2_signature" rows="2" cols="50"></textarea>

    <button type="submit">Create Challenge</button>
</form>
{% endblock %}

