{% extends "base.html" %}

{% block content %}
<h1>Code with Proofs: The Arena</h1>
<p>Test your Lean 4 skills with our coding challenges!
Each problem contains a description, a function sigature to be implemented, and a formal specification in the form of theorem statements to be proved.
You submit code and proof, and suceed if they pass the Lean proof checker.</p>

<p>The purpose of this website is to serve as a platform to crowdsource efforts to create data on code-with-proof problems and solutions, including problem-only data as well as problem-with-solution data, both human-created and machine-created. And as a platform to share this data with the open-source community, for the purpose of training open-source coding models.
For more details, check out our essay <a href="https://gasstationmanager.github.io/ai/2024/11/04/a-proposal.html">A Proposal for Safe and Hallucination-free Coding AI</a>.</p>

<p>Both web interface and API endpoints are available. API documentation available with Swagger UI at <href="/docs">/docs</a>,
with Redoc at <a href="/redoc">/redoc</a>.
The data made available through this site is licenced under Creative Commons Attribution-NonCommercial-ShareAlike (CC BY-NC-SA).

<p>The code for this site is open sourced <a href="https://github.com/GasStationManager/CodeProofTheArena">on GitHub</a>.</p>

<a href="/challenges" class="button">View Challenges</a>
{% endblock %}

